In [2]:
# Logistic Regression

import numpy as np
import pandas as pd
import matplotlib as plt

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import SGDClassifier
from sklearn.metrics import accuracy_score, roc_auc_score, average_precision_score, roc_curve, precision_recall_curve

In [4]:
# 데이터 로드
df = pd.read_csv('bitcoin_data.csv')
df['target'] = (df['Close'] > df['Open']).astype(int)
df.tail()

,Timestamp,Open,High,Low,Close,Volume,datetime,target
6944795,1.742169e+09,82554.0,82554.0,82554.0,82554.0,0.072000,NaN,0
6944796,1.742169e+09,82584.0,82615.0,82584.0,82615.0,0.194670,NaN,1
6944797,1.742169e+09,82555.0,82555.0,82555.0,82555.0,0.002680,NaN,0
6944798,1.742170e+09,82555.0,82555.0,82555.0,82555.0,0.000000,NaN,0
6944799,1.742170e+09,82569.0,82569.0,82566.0,82566.0,0.003019,NaN,0

In [ ]:
#train/test split
X = df.drop('target', axis=1).values